#{extends 'main.html' /}
#{set title:"WitPress Home Page for ${user.getName()}" /}
<div class="ui inverted blue menu">
	<a class="ui item">WitPress</a> <a class="ui active item">Blog</a> <a
		class="ui item" href="/logout">Log Out</a>
</div>
<div class="ui two column grid">
	<div class="column">
		<form class="ui form" action="/submitpost" method="POST">
		<div class="ui fluid segment">
				<div class="field">
					<textarea placeholder="choose a title for post"
						rows ="1" name="title" required></textarea>
				</div>
				<div class="field">
					<textarea placeholder="Write your post here" name="content" required></textarea>
				</div>
				<button class="ui blue button" type="submit">
					<i class="send icon"></i>Submit New Post
				</button>
				</div>
			</form>
		</div>
	</div>
	<div class="ui fluid form segment">
		<div class="filed">
		#{list items:reversePosts, as:'post'} <a
		href="@{BlogPost.show(post.id)}"> ${post.title} </a>
      <div class="ui form">		
		<a href="@{Blog.deletePost(post.id)}" class="mini ui orange button">Delete </a>
	</div>
      #{/list}
    </div>
  </div>