#{extends 'main.html' /} #{set title:"Contact" /}
<div class="ui inverted blue menu">
  <a class="ui item" href="/">WitPress</a>
  <script>
    if(user != null) {
    	<a class="ui active item" href="/blog">Blog</a>
    }
    	</script>
  <a class="ui item" href="/publicblogdirectory">Public Blog Directory</a> 
  <a class="ui item" href="/about">About</a> 
  <a class="ui active item">Contact</a>
  <a class="ui item" href="/logout">Logout</a>
</div>
<div class="ui grid">
   <div class="six wide column">
    <div class="ui raised segment">
    <h3>witpress@wit.ie</h3>
    </div>
  </div>
</div>