#{extends 'main.html' /} #{set title:'Get started with WitPress' /}
<div class="ui inverted blue menu">
  <a class="ui active item">WitPress</a>
  <a class="ui item" href="/blog">Blog</a>
  <a class="ui item" href="publicblogdirectory">Public Blog Directory</a> 
  <a class="ui item" href="/about">About</a> 
  <a class="ui item" href="/contact">Contact</a>
  <a class="ui item" href="/logout">Logout</a>
</div>
<div class="ui raised segment">
	<a class="ui blue button" href="/signup">Get Started - sign up here</a>
	<h4 class="ui item">If already registered log in and begin publishing</h4>
</div>
	<form class="ui fluid form segment" action="/authenticate" method="POST">
		<div class="field">
			<div class="required field">
				<label>Username:</label> <input placeholder="e-mail" type="text"
					name="email" required>
			</div>
			<div class="required field">
				<label>Password</label> <input placeholder="password" type="password"
					name="password" required>
			</div>
		</div>
		<button class="ui blue button" type="submit">Login</button>
	</form>